<template>
  <div class="jobdesc">
    <div class="title">
      <img :src="company.logo">
      <div class="wrap">
        <div class="company">{{ company.name }}</div> &nbsp;-&nbsp;
        <div class="jobtitle">{{ selectedJob.title }}</div>
      </div>
    </div>
    <div class="description md" v-html="selectedJob.description"></div>
  </div>
</template>

<style scoped lang="stylus">
  .jobdesc {
    padding: 20px 35px;
    .title {
      font-size: 18px;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      .wrap {
        display: flex;
        align-items: baseline;
      }
      img {
        width: 48px;
        margin-right: 15px;
      }
      .company {
        font-weight: bold;
        color: #333;
      }
      .jobtitle {
        color: #444;
      }
    }
    .md {
      p, h1, h2, h3, h4, h5, ul {
        margin-bottom: 16px;
      }
      p {
        font-size: 15px;
      }
      h1, h2, h3 {
        color: #555;
      }
      h1 {
        font-size: 22px;
      }
      h2 {
        font-size: 18px;
      }
      h3 {
        font-size: 16px;
      }
      ul {
        list-style: bullet;
        li {
          font-size: 14px;
          margin-left: 22px;
          line-height: 23px;
          color: #222;
        }
      }
    }
  }
</style>

<script>
  import VueMarkdown from 'vue-markdown';
  export default {
    name: 'JobDesc',
    components: { VueMarkdown },
    props: {
      selectedJob: {
        type: Object,
        required: true,
      },
    },
    computed: {
      company() {
        return this.selectedJob.company;
      },
    },
  };
</script>
