<template>
  <div class="content">
    <job-rater
        :options="rateOption"
        :selected="preference"
        @rate="onRate"
    ></job-rater>
    <job-desc v-if="job" :selected-job="job"></job-desc>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';
  import JobRater from './JobRater.vue';
  import JobDesc from './JobDesc.vue';

  const options = {
    uninterested: [
      { display: 'Not Relevant', icon: 'close-circle', value: 'Not Interested' },
      { display: 'Add to interested list', icon: 'checkmark-circle', value: 'Interested - Backup' },
    ],
    interested: [
      { display: 'Dream Company', value: 'Interested - Dream Company' },
      { display: 'Target Company', value: 'Interested - Target Company' },
      { display: 'Backup', value: 'Interested - Backup' },
    ],
  };

  export default {
    name: 'JobDetail',
    components: { JobRater, JobDesc },
    props: {
      job: {
        type: Object,
        default: null,
      },
      preference: {
        type: Object,
        default: null,
      },
    },
    computed: {
      jobID() {
        return this.job && this.job.id;
      },
      rateOption() {
        if (this.preference && this.preference.startsWith('Interested - ')) {
          return options.interested;
        }
        return options.uninterested;
      },
    },
    methods: {
      ...mapActions(['updatePreference']),
      onRate(preference) {
        this.updatePreference({
          preference,
          id: this.jobID,
        })
      },
    },
  }
</script>
