<template>
  <li class="job" :class="classes" @click="selectJob">
    <img class="logo" v-if="logo" :src="logo" />
    <div class="wrapper">
      <div class="name" v-if="companyName">{{ companyName }}</div>
      <div class="title">{{ job.title }}</div>
    </div>
  </li>
</template>

<script>
  export default {
    name: 'JobItem',
    props: {
      active: {
        type: Boolean,
        default: false,
      },
      job: {
        type: Object,
        required: true,
      },
    },
    computed: {
      classes() {
        return {
          active: this.active,
        };
      },
      company() {
        return this.job.company;
      },
      logo() {
        return this.company.logo;
      },
      companyName() {
        return this.company.name;
      },
    },
    methods: {
      selectJob() {
        this.$emit('selectJob', this.job.id);
      },
    },
  }
</script>

<style scoped lang="stylus">
  .logo {
    max-width: 400px;
    max-height: 289px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
  li {
    cursor: pointer;
    background-color: white;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid lighten(#418af5, 35);
    display: flex;
    justify-content: space-between;
    .wrapper {
      padding-left: 10px;
      top: -3px;
      position: relative;
      flex-grow: 1;
      .name {
        font-size: 14px;
        font-weight: bold;
        color: #333;
      }
      .title {
        font-size: 12px;
      }
    }
    &:hover {
      background: rgba(255,255,255, .95);
    }
    &.active {
      background: rgba(255,255,255, .9);
    }
  }
</style>
