<template>
  <div class="joblist">
    <Tabs>
      <TabPane label="Unread Jobs">
        <ul>
          <job-item
              v-for="job in unreadJobs"
              :key="job.id"
              :job="job"
              :active="job.id === selectedJobId"
              @selectJob="onSelectJob"
          ></job-item>
        </ul>
      </TabPane>
      <TabPane label="Interested">
        <ul>
          <job-item
              v-for="job in interestedJobs"
              :key="job.id"
              :job="job"
              :active="job.id === selectedJobId"
              @selectJob="onSelectJob"
          ></job-item>
        </ul>
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
  import JobItem from './JobItem.vue';

  export default {
    name: 'JobList',
    components: { JobItem },
    props: {
      jobs: {
        type: Object,
        required: true,
      },
      selectedJobId: {
        type: String,
        default: '',
      },
      preferences: {
        type: Object,
        required: true,
      },
    },
    computed: {
      jobList() {
        return Object.values(this.jobs);
      },
      unreadJobs() {
        return this.jobList.filter(({ id }) => !(id in this.preferences) || !this.preferences[id]);
      },
      interestedJobs() {
        return Object.values(this.jobs).filter(
          ({ id }) => id in this.preferences &&
            this.preferences[id] &&
            this.preferences[id].startsWith('Interested - '))
          ;
      },
    },
    methods: {
      onSelectJob(id) {
        this.$emit('update:selectedJobId', id);
      },
    },
  }
</script>

<style scoped>
  .joblist ul {
    list-style: none;
    background: #418af5;
  }
</style>
