<template>
  <div class="jobrater">
    <a
        v-for="option in options"
        :key="option.value"
        @click="onClick(option)"
        :class="{ active: option.value === selected }"
    >
      <Icon v-if="option.icon" :type="`md-${option.icon}`" size="22" />
      {{ option.display }}
    </a>
  </div>
</template>

<script>
  export default {
    name: 'JobRater',
    props: {
      options: {
        type: Array,
        required: true,
      },
      selected: {
        type: String,
        default: null,
      },
    },
    methods: {
      onClick(option) {
        if (!this.disabled) {
          this.$emit('rate', option.value);
        }
      },
    },
  };
</script>

<style lang="stylus" scoped>
  $primary-color = #418af5;
  $secondary-color = #15b9d0;
  .jobrater {
    display:flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
    a {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      text-align: center;
      padding: 14px 0;
      text-transform: uppercase;
      font-weight: bold;
      background: rgba(255,255,255,.90);
      color: $gray-color;
      vertical-align: middle;
      will-change: color, background-color;
      i {
        margin-right: 5px;
      }
      &:hover {
        color: $secondary-color;
        background-color: #fff;
      }
      &.active {
        color: #eee;
        background-color: $primary-color;
      }
    }
  }
</style>
