<template>
  <div id="app">
    <div class="content-area">
      <div class="sidebar">
        <job-list
            :jobs="jobs"
            :preferences="preferences"
            :selected-job-id.sync="selectedJobId"
        />
      </div>
      <job-detail
          :job="selectedJob"
          :preference="selectedJobPreference"
      ></job-detail>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import JobList from './components/JobList';
import JobDetail from './components/JobDetail.vue';

export default {
  name: 'app',
  components: { JobList, JobDetail },
  data() {
    return {
      selectedJobId: null,
    };
  },
  computed: {
    ...mapState(['jobs', 'preferences']),
    selectedJob() {
      if (this.selectedJobId === null) {
        return null;
      }

      return this.jobs[this.selectedJobId];
    },
    selectedJobPreference() {
      if (this.selectedJobId === null) {
        return null;
      }

      return this.preferences[this.selectedJobId];
    },
  },
}
</script>

<style lang="stylus">
  html, body {
    background-image: linear-gradient(to right, #418af5 0%, #15b9d0 100%);
    color: #000;
    letter-spacing: 0.5px;
    font-family: "Roboto", Arial, sans-serif;
    height: 100vh;
    margin: 0;
  }

  #app > .content-area {
    display: flex;
    justify-content: space-around;

    > .sidebar {
      box-shadow: 0 6px 10px rgba(0,0,0,.12);
      width: 300px;
      margin: 60px;
      background: #fff;
    }

    > .content {
      margin: 60px 0 100px;
      box-shadow: 0 6px 10px rgba(0,0,0,.12);
      background: white;
      width: 800px;
    }
  }
</style>
